[submodule "thirdparty/Jinja2CppLight"]
	path = thirdparty/Jinja2CppLight
	url = https://github.com/hughperkins/Jinja2CppLight.git
[submodule "thirdparty/exprtk"]
	path = thirdparty/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "thirdparty/quazip"]
	path = thirdparty/quazip
	url = https://github.com/binaryking/quazip.git
