extends layout

block content
	br
	h1 PEREGRINE 소개
	div
		|페레그린은 간편한 사용성과 높은 확장성을 지닌 크로스플랫폼 데스크탑 런처입니다.
		br
		|또한 오픈소스로 개발되며 누구에게나 무료입니다.
		br
		br
		a(href='/download') 다운로드 바로가기
		br
		a(href='https://github.com/realcow/peregrine') GitHub