extends layout

block content
	.row
		h1 PEREGRINE 소개
	.row(style={'font-size': '18px'})
		|페레그린은 간편한 UI와 높은 확장성을 지닌 크로스플랫폼 데스크탑 런처입니다.
		br
		|또한 오픈소스로 개발되며 누구에게나 무료입니다.
		br
		br
		a(href='/download') &nbsp;&nbsp;&nbsp;&nbsp;다운로드 바로가기
		br
		a(href='https://github.com/realcow/peregrine') &nbsp;&nbsp;&nbsp;&nbsp;GitHub
		br
		br
		|기능 또는 개발 관련 제안이나 참여 방법 등 자유롭게 연락 주십시오.
		br
		|개발자 E-mail: realcow86@gmail.com