doctype html
html
	head
		title= title

		script(src='https://code.jquery.com/jquery-3.1.0.min.js')

		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

		link(rel='stylesheet', href='/stylesheets/style.css')
	
	body
		.container
			.row
				h1 Peregrine
			.row
				a(href='/about')
					if location == 'about'
						b About
					else
						| About
				a(href='/download')
					if location == 'download'
						b Download
					else
						| Download
				a(href='/plugins')
					if location == 'plugins'
						b Plugins
					else
						| Plugins
				a(href='/register')
					if location == 'register'
						b Register
					else
						| Register

			block content