extends layout

block head
	script(src='js/registerlib.js')

block content
	h1 Create an account
	| E-mail:
	br
	input#emailField(type='text')
	br
	| Password:
	br
	input#passwordField(type='password')
	br
	br
	button.btn(onclick='sendRegisterRequest()') Create a new account
	br
	p(style='font-weight: bold')#messagePanel
