<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<plugin plugindir="plugins"/>
	<actionslots>
		<actionslot x='1' y='0' actionid='website-google'/>
		<actionslot x='-1' y='0' actionid='website-bing'/>
		<actionslot x='0' y='1' actionid='website-reddit'/>
		<actionslot x='0' y='-1' actionid='website-facebook'/>
		<actionslot x='2' y='0' actionid='echo'/>
		<actionslot x='0' y='-2' actionid='website'/>
		<actionslot x='1' y='1' actionid='file'/>
	</actionslots>
</settings>
