<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<plugin plugindir="plugins"/>
	<actionslots>
		<actionslot x='1' y='0' actionid='website-google'/>
		<actionslot x='-1' y='0' actionid='website-bing'/>
		<actionslot x='0' y='1' actionid='website-reddit'/>
		<actionslot x='0' y='-1' actionid='website-facebook'/>
		<actionslot x='2' y='0' actionid='echo'/>
		<actionslot x='0' y='-2' actionid='website'/>
		<actionslot x='1' y='1' actionid='file'/>
		<actionslot x='1' y='-1' actionid='webpage'/>
		<actionslot x='-1' y='1' actionid='mozilla-colorpicker'/>
	</actionslots>
	
	<customactions>
		<action name="python" id="website-python">
			<do>
				<runaction 
					condition="'input_text' != ''"
					id="website" 
					input="https://www.python.org/search/?q={{input_text}}"/>
				<runaction 
					condition="'input_text' == ''"
					id="website" 
					input="https://www.python.org/"/>
			</do>
		</action>
		
		<action name="My Development Sites" id="my-development-sites">
			<adopt id="website-developers"/>
			<links>
				<link actionid="website-python" keyword="python"/>
				<link actionid="website-google" keyword="jsstandards" input_text="javascript standards progress"/>
			</links>
		</action>
		
		<action name="My Files" id="my-files">
			<adopt id="file"/>
			<links>
				<link actionid="file" keyword="git" input_text="D:/git"/>
				<link actionid="file" keyword="utils" input_text="D:/JinUtilities"/>
			</links>
		</action>
	</customactions>
</settings>
