<?xml version="1.0" encoding="UTF-8"?>
<plugin name="website">
	<actions>
		<action name="website" id="website" controller="website" image="planet-earth.svg"/>
	</actions>

	<actionfiles>
		<actionfile path="actions/website-actions.xml"/>
		<actionfile path="actions/website-developer-actions.xml"/>
		<actionfile path="actions/website-dictionary-actions.xml"/>
		<actionfile path="actions/website-shopping-sites.xml"/>
	</actionfiles>
</plugin>